@font-face {
  font-family: 'Work Sans';
  src: url(/src/fonts/work-sans.regular.otf) format("opentype"),
  url(/src/fonts/work-sans.bold.ttf) format('truetype')
  url(/src/fonts/work-sans.medium.otf) format("opentype"),
  url(/src/fonts/work-sans.semibold.otf) format("opentype"),
}



:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}
